<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
<script>window.msAdsQueue = window.msAdsQueue || [];</script>
  <script async src="https://adsdk.microsoft.com/pubcenter/sdk.js?siteId=10321950&publisherId=253231567" crossorigin="anonymous"></script>
  
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <link title="OLAP PivotTable Extensions Releases" href="https://github.com/OlapPivotTableExtensions/OlapPivotTableExtensions/releases.atom" rel="alternate" type="application/atom+xml">
    <link title="OLAP PivotTable Extensions Source Code Commits" href="https://github.com/OlapPivotTableExtensions/OlapPivotTableExtensions/commits/master.atom" rel="alternate" type="application/atom+xml">

    <link rel="shortcut icon" type="image/x-icon" href="https://olappivottableextensions.github.io/favicon.ico" />

    {% seo %}

    <style>
        .button {
            width: 80px;
            margin: 0px 2px;
            padding: 5px 10px;
            height: 35px;
            background: #bbbbbb;
            color: black;
            font-weight: bold;
        }

        .button:hover {
            background: #0090ff;
            color: white;
        }

        .button:hover a {
            color: white;
        }

        .button a {
            text-align: center;
            vertical-align: middle;
            margin: auto;
        }

        .button a:hover {
            color: white;
        }

    </style>

</head>

<body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer" style="padding-top:10px;padding-bottom:0px;margin-top:0px;margin-bottom:0px">
        <header class="inner" style="padding-top:10px;padding-bottom:0px;margin-top:0px;margin-bottom:0px">


            <table style="border-style:none; border-bottom-style:none; border-width:0px; padding:0px;margin-top:0px;margin-bottom:0px">
                <tr>
                    <td style="border-style:none; border-width:0px;padding-top:0px;padding-bottom:0px" colspan="2">
                        <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
                        <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>
                    </td>
                </tr>
                <tr>
                    <td style="border-style:none; border-width:0px;padding-top:0px;padding-bottom:0px;margin-top:0px;margin-bottom:0px;white-space:nowrap;">
                        <section id="menu">
                            <a href="{{site.url}}"><span class="button">Home</span></a>
                            <a href="https://github.com/OlapPivotTableExtensions/OlapPivotTableExtensions/releases"><span class="button">Releases</span></a>
                            <a href="https://github.com/OlapPivotTableExtensions/OlapPivotTableExtensions/issues"><span class="button">Issues</span></a>
                        </section>
                    </td>
                    <td width=96 style="vertical-align:bottom; border-style:none; border-width:0px;padding-top:0px;padding-bottom:0px;margin-top:0px;margin-bottom:0px">
                        <SECTION>
                            <A href="{{ site.latest_download_url }}" title="Download the installer"><img src="images/download.png" alt="Download the installer" style="border: 0; box-shadow:none;padding-top:0px;padding-bottom:0px;margin-top:0px;margin-bottom:0px;width:96px;height:auto" /></A>
                        </SECTION>
                    </td>
                </tr>
            </table>

        </header>
    </div>





    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer" style="padding-top:10px;padding-bottom:10px">
        <section id="main_content" class="inner" style="padding-top:10px;padding-bottom:10px">
            {{ content }}
        </section>
        <section id="ad_content" class="inner" style="padding-top:10px;padding-bottom:10px">
            <div style="color: gray;font-size: smaller; font-style: italic;">Advertisement:</div>

            <div id="ms-ad-128075890"></div> 
            <script> 
              window.msAdsQueue.push(() => { 
                window.pubCenterSdk.render({ 
                  adUnitId: "128075890", 
                  elementId: "ms-ad-128075890" 
                }); 
              }); 
            </script>
                      
            <div data-type="ad" data-publisher="olappivottableextensions.github.io" data-format="300x250" data-zone="bottom" data-tags="excel%2canalysis%20services%2cssas%2colap%2cpivottables%2cpowerpivot%2cadd-in%2ccube%2cmdx%2cplugin%2csearch%20field%20list%2ctabular%2cexcel%20services%2csearch%20cube%2csearch%20dimensions"></div>
        </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
        <footer class="inner">
            <a id="forkme_banner" href="https://github.com/OlapPivotTableExtensions/OlapPivotTableExtensions">View Source Code on GitHub</a>
        </footer>
    </div>

    {% if site.google_analytics %}
    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
    {% endif %}

    <script type='text/javascript'>
    function _dmBootstrap(file) {
        var _dma = document.createElement('script');
        _dma.type = 'text/javascript';
        _dma.async = true;
        _dma.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + file;
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(_dma);
    }
    function _dmFollowup(file) { if (typeof DMAds === 'undefined') _dmBootstrap('cdn2.DeveloperMedia.com/a.min.js'); }
    (function () { _dmBootstrap('cdn1.DeveloperMedia.com/a.min.js'); setTimeout(_dmFollowup, 2000); })();
    </script>
</body>
</html>

